* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

h1 {
  color: #1e90ff;
  font-size: 4rem;
  margin-bottom: 0;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

h1.fade {
  opacity: 0;
}

.logo {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: -70px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }
  
  .logo {
    width: 200px;
    height: 200px;
    margin-top: -10px;
  }
}
